body {
    font-family: sans-serif;
    font-size: 12px;
    color: #505050;
}

div.content {
    width: 700px;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 42px;
    /*text-decoration: underline;*/
    font-weight: bolder;
    color: #808080;
}

h1:first-letter {
    font-size: 54px;
}

th {
    text-align: left;
    border-bottom: 1px solid #999999;
}

th:first-child {
    width: 100%;
}

input {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bolder;
}

label {
    font-weight: bolder;
}

a.navigation {
    text-decoration: none;
    color: #505050;
}

a.navigation:hover {
    text-decoration: underline;
}

div.error {
    padding:  10px;
    border:  1px dotted #AA5050;
    margin-top: 40px;
    font-weight: bold;
    color: #AA5050;
}

table.company {
    border-left: 2px solid #999999;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    margin-top: 40px;
}

table.company tr.header td:first-child {
    font-weight: bold;
    color: white;
    background-color: #999999;
}

table.company td {
    padding: 3px;
    vertical-align: top;
}

table.company tr.month td {
    width: 70px;
    border-right: 1px solid #999999;
    font-weight: bold;
}

table.company tr.month td:first-child {
    width: auto;
}

table.company tr.score td {
    border-right: 1px solid #999999;
}

table.company tr.stock td {
    border-right: 1px solid #999999;
}

table.company tr.recommendation td {
    border-right: 1px solid #999999;
    font-weight: bold;
}

table.company tr.border-top td {
    border-top: 1px solid #999999;
}

table.company tr.border-bottom td {
    border-bottom: 1px solid #999999;
}

table.graph {
    border: 1px solid #999999;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    margin-top: 20px;
}

table.graph td.graphMax {
    vertical-align: top;
    text-align: right;
    width: 60px;
}

table.graph td.graphMid {
    vertical-align: middle;
    text-align: right;
}

table.graph td.graphLow {
    vertical-align: bottom;
    text-align: right;
}


